<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requests</title>

    <style>
      /* code css here */
    </style>
  </head>

  <body>
    {% if requests %}
    <table>
      <tr>
        <th>ID</th>
        <th>CITY</th>
        <th>DATE</th>
      </tr>
      {% for request in requests %}
      <tr>
        <td>{{ request.id }}</td>
        <td>{{ request.CITY }}</td>
        <td>{{ request.DATE }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h1>0 Requests</h1>
    {% endif %}
  </body>
</html>