{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Requests</title>
  </head>

  <body>
    <h1>Histórico</h1>
    {% if requests %}
    <table>
      <tr>
        <th>ID</th>
        <th>CITY</th>
        <th>DATE</th>
      </tr>
      {% for request in requests %}
      <tr>
        <td class="conteudo">{{ request.id }}</td>
        <td class="conteudo">{{ request.CITY }}</td>
        <td class="conteudo">{{ request.DATE }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h1>0 Requests</h1>
    {% endif %}
  </body>
</html>